html{
    background: white;
    margin: auto;
}

body{
    margin: 0;
    height: 400px;
    width: 350px;
    background: rgb(94, 90, 90);
    text-align: left;
    padding: 10px;
}
.first{
    color: white;
    margin-bottom: 0;
}
.second{
    color: springgreen;
    margin-top: 0;
}
h3{
    color: rgb(216, 196, 196);
    margin-top: 0;
    
}
#generatePassword{
    background: springgreen;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dis-pass{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
       
}
.pass{
    background: gray;
    color: aqua;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 15px;
}